<div class="container">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <h1>Officeassignments</h1>
        </ol>
    </nav>

    <table class="table table-striped table-bordered table-responsive">
        <thead class="table-dark">
            <tr>
                <td>
                    <h5>InstructorID</h5>
                </td>
                <td>
                    <h5>Location</h5>
                </td>
                
                <td><a class="col-md-12 btn btn-sm btn-light" [routerLink]="[ '/officeassignment-create']">Add</a></td>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let officeassignment of officeassignments">
                <td>{{ officeassignment.InstructorID }}</td>
                <td>{{ officeassignment.Location }}</td>
                <td>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-success"
                                [routerLink]="[ '/officeassignment-detail', officeassignment.InstructorID ]">Details</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-warning" [routerLink]="[ '/officeassignment-edit', officeassignment.InstructorID ]">Edit</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-sm btn-danger" [routerLink]="[ '/officeassignment-delete', officeassignment.InstructorID ]">Delete</a>
                        </div>                
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
