<div class="container">
    <br />
    <nav aria-label="breadcrumb">

    </nav>

    <h2>Create Instructor</h2>
    <hr>

    <div class="form-row" *ngIf="showMsg">
        <div class="alert alert-{{type}} col-md-12" role="alert">
            {{msg}}
        </div>
    </div>

    <form #instructorForm="ngForm">
        <div class="form-row">
            <div class="col-md-4 form-floating">
                <input type="text" id="LastName" name="LastName" placeholder="Enter the LastName" class="form-control"
                    #LastName [(ngModel)]="instructor.LastName" autocomplete="off" />
                <label for="LastName">LastName</label>
            </div>
            <br>
            <div class="col-md-4 form-floating">
                <input type="text" id="FirstMidName" name="FirstMidName" placeholder="Enter the FirstMidName"
                    class="form-control" #FirstMidName [(ngModel)]="instructor.FirstMidName" autocomplete="off" />
                <label for="FirstMidName">FirstMidName</label>
            </div>
            <br>
            <div class="col-md-4 form-floating">
                <input type="date" id="HireDate" name="HireDate" placeholder="Enter the HireDate"
                    class="form-control" #HireDate [(ngModel)]="instructor.HireDate" autocomplete="off" />
                <label for="HireDate">HireDate</label>
            </div>
        </div>
        <br>
        <div class="btn-group" role="group">
            <button class="btn btn-outline-primary" (click)="save()">Save</button>
            <a class="btn btn-outline-primary" [routerLink]="[ '/instructor-list' ]">Back</a>
        </div>
    </form>
</div>
